name: Test on Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  node_version: 22

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: npm-${{ github.head_ref }}-${{ github.event.pull_request.head.sha }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ github.head_ref }}-
            npm-dev-

      - name: Install dependencies
        run: npm ci --cache .npm --prefer-offline

      - name: Run tests
        run: npm test
