name: Update Dev Cache

on:
  push:
    branches:
      - dev
    paths:
      - 'package-lock.json'

env:
  node_version: 22

jobs:
  update-cache:
    name: Update Dev Branch Cache
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: npm-dev-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci --cache .npm
